[submodule "alloy"]
	path = alloy
	url = https://github.com/appcelerator/alloy.git
[submodule "examples/Force"]
	path = examples/Force
	url = https://github.com/appcelerator-developer-relations/Force.git
[submodule "examples/KitchenSink"]
	path = examples/KitchenSink
	url = https://github.com/appcelerator/KitchenSink.git
[submodule "examples/KitchenSinkiPad"]
	path = examples/KitchenSinkiPad
	url = https://github.com/appcelerator/KitchenSinkiPad.git
[submodule "examples/Sample.Mapping"]
	path = examples/Sample.Mapping
	url = https://github.com/appcelerator-developer-relations/Sample.Mapping.git
[submodule "examples/Sample.Todo"]
	path = examples/Sample.Todo
	url = https://github.com/appcelerator-developer-relations/Sample.Todo.git
[submodule "examples/Sample.RSS"]
	path = examples/Sample.RSS
	url = https://github.com/appcelerator-developer-relations/Sample.RSS.git
[submodule "examples/HybridApp"]
	path = examples/HybridApp
	url = https://github.com/appcelerator-developer-relations/HybridApp.git
[submodule "examples/Whackranium"]
	path = examples/Whackranium
	url = https://github.com/appcelerator-developer-relations/Whacktanium.git
[submodule "modules/forcemodule"]
	path = modules/forcemodule
	url = https://github.com/appcelerator-developer-relations/forcemodule.git
[submodule "modules/titanium_modules"]
	path = modules/titanium_modules
	url = https://github.com/appcelerator/titanium_modules.git
[submodule "examples/pathmenu.js"]
	path = examples/pathmenu.js
	url = https://github.com/tonylukasavage/pathmenu.js.git
[submodule "modules/physicalSizeCategory"]
	path = modules/physicalSizeCategory
	url = https://github.com/tonylukasavage/physicalSizeCategory.git
[submodule "modules/path.animator"]
	path = modules/path.animator
	url = https://github.com/tonylukasavage/path.animator.git
[submodule "frameworks/Struct"]
	path = frameworks/Struct
	url = https://github.com/krawaller/Struct.git
[submodule "examples/Tweetanium"]
	path = examples/Tweetanium
	url = https://github.com/appcelerator-titans/tweetanium.git
[submodule "frameworks/kranium"]
	path = frameworks/kranium
	url = https://github.com/krawaller/kranium.git
[submodule "frameworks/kranium-demo"]
	path = frameworks/kranium-demo
	url = https://github.com/krawaller/kranium-demo.git
[submodule "examples/Snapost"]
	path = examples/Snapost
	url = https://github.com/kwhinnery/Snapost.git
[submodule "frameworks/Helium"]
	path = frameworks/Helium
	url = https://github.com/kwhinnery/Helium
[submodule "examples/custom_iOS_tabBar"]
	path = examples/custom_iOS_tabBar
	url = https://github.com/appcelerator-titans/custom_iOS_tabBar.git
[submodule "examples/TiBall"]
	path = examples/TiBall
	url = https://github.com/appcelerator-titans/TiBall.git
[submodule "frameworks/silver"]
	path = frameworks/silver
	url = https://github.com/tanin47/silver
[submodule "frameworks/TiMVC"]
	path = frameworks/TiMVC
	url = https://github.com/deboorn/TiMVC.git
[submodule "frameworks/timvc-2"]
	path = frameworks/timvc-2
	url = https://github.com/rrichter/timvc.git
[submodule "modules/AGCalendar"]
	path = modules/AGCalendar
	url = https://github.com/Appgutta/AGCalendar.git
[submodule "modules/TiLED"]
	path = modules/TiLED
	url = https://github.com/Appgutta/TiLED.git
[submodule "modules/TiLocalytics"]
	path = modules/TiLocalytics
	url = https://github.com/Appgutta/TiLocalytics.git
